* {
  padding: 0;
  margin: 0;
}
a {
  color:orange;
  text-decoration: none;
  text-shadow: 2px 2px black;

}

body {
  background-color: lightblue;
}

a:hover {
  background-color: yellow;
  padding: 10px;
  color: black;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 0px gray;
  opacity: 90%;
  text-shadow:none;
}

#horiseon-link:hover,
#firstproject-link:hover {
  padding: 0;
}

/* Start Header*/
header {
  background-image: url("images/Mountain.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
}

header h1 {
  font-size: 66px;
  color: white;
  margin-right: 300px;
  margin-top: 125px;
  letter-spacing: 10px;
}

h2 {
  text-shadow: 2px 2px black;
  color: orange;
  font-size: 36px;
}

header nav ul {
  font-size: 20px;
  list-style-type: none;
  margin-top: 250px;
  margin-left: 350px;
}

header nav ul li {
  display: inline-block;
  padding: 0 30px 0 30px;
  font-size: 28px;
}
/* end header*/

/* Hero */
.wrapper {
  display: flex;
  background-color: skyblue;
}

.welcome,
.welcome-1 {
  margin: auto;
}
.welcome h2,
.welcome-1 h2 {
  font-size: 40px;
}

.intro {
  align-content: center;
  background-image: url("images/Matt-1.jpg");
  width: 500px;
  background-size: cover;
  background-position: center;
  height: 500px;
  border-radius: 500px;
  margin: 20px 20px 20px 100px;
}

/* End Hero */

/* flex container styling start*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.flex-container h2 {
  padding: 20px;
  width: auto;;
  text-align: center;
  border-bottom: 2px solid orange;
}

.flex-container p {
  padding: 20px;
  margin: 0 75px 0 75px;
  font-size: 36px;
  text-align: center;
}

#firstproject-link {
  background-image: url("images/runbuddysite.PNG");
  display: block;
  height: 500px;
  width: 1690px;
  border-radius: 50px;
  background-size: cover;
  object-position: center top;
  color: orange;
  font-size: 25px;
}

#horiseon-link {
  background-image: url("images/horiseon.PNG");
  display: block;
  height: 400px;
  width: 400px;
  border-radius: 50px;
  background-size:cover;
  margin: unset;
  color: orange;
  font-size: 25px;
}

.flex-container #coming-soon1 {
  background-image: url("images/trees-sky.jpg");
  background-size: cover;
  background-position: center;
}

.flex-container #coming-soon2 {
  background-image: url("images/stream.jpg");
  background-size: cover;
  background-position: center;
}

#coming-soon1 h3,
#coming-soon2 h3 {
  color: orange;
  text-shadow: 2px 2px black;
  height: 400px;
  width: 400px;
}

.flex-container article {
  margin: 20px;
  text-align: center;
  border-radius: 50px;
}


.flex-container h3 {
  font-size: 25px;
}

/*flex container styling end*/

/*Footer*/

footer {
  display: block;
  text-align: center;
  background-image: url("images/Forest.jpg");
  background-size: cover;
  background-position:bottom;
  height: 150px;
}

footer h3 {
  display: inline-block;
  font-size: 36px;
  margin-bottom: 15px;
  padding: 20px;
  color: orange;
  text-shadow: 2px 2px black;
}

footer ul li {
  display: inline-block;
  font-size: 28px;
  padding: 0 15px;
  font-weight:bolder;

}

 footer ul li #contact {
   vertical-align: center;
   background-color:white;
   color: blue;
   opacity: 90%;
   padding: 10px;
   font-size: 30px;
   width:30px; 
   text-align: center;
   border-radius: 50%;
 }

/* start media queries */

/* iPad Pro */
@media screen and (max-width:1024px) {
header {
  height: 235px;
}
header h1 {
  font-size: 36px;
  letter-spacing: 0;
  margin-top: 100px;
}
header nav ul {
  margin-top: 190px;
  margin-left: 0px;
  margin-right: 10px;
}

header nav ul li {
  padding: 10px;
  font-size: 22px;
}

.welcome h2 {
  text-align: center;
  margin-left: 45px;
  font-size: 32px;
}

.welcome-1 {
  text-align: center;
  margin-right: 20px;
}

.welcome-1 h2 {
  font-size: 32px;
}

.intro {
  height: 275px;
  width: 400px;
}

.flex-container p {
  font-size: 28px;
  margin: 10px;
}

#firstproject-link {
  height: 300px;
  width: 1000px;
}

#coming-soon1 h3,
#coming-soon2 h3,
#horiseon-link {
  height: 200px;
  width: 200px;
}
}

/* iPad */
@media screen and (max-width:768px) {
  header {
    height: 175px;
  }
  header h1 {
    font-size: 32px;
    width: 200px;
    letter-spacing: 0;
    margin-top: 75px;
    margin-right: unset;
  }
  header nav ul {
    margin-top: 125px;
    margin-left: 25px;
    margin-right: 10px;
    width: 300px;
  }
  
  header nav ul li {
    padding: 10px;
    font-size: 18px;
  }

  .intro {
    height: 200px;
    width: 400px;
  }
  
  .flex-container p {
    font-size: 20px;
  }
  
  #firstproject-link {
    height: 300px;
    width: 750px;
  }
  
  #coming-soon1 h3,
  #coming-soon2 h3,
  #horiseon-link {
    height: 200px;
    width: 200px;
  }
}

/* Surface Duo */
@media screen and (max-width:540px) {
  header {
    height: 125px;
  }
  header h1 {
    font-size: 22px;
    margin-top: 50px;
    margin-left: 40px;
  }
  header nav ul {
    margin-top: 75px;
  }
  
  header nav ul li {
    padding: 10px;
    font-size: 16px;
  }
  .welcome h2 {
    font-size: 26px;
  }

  .welcome-1 h2 {
    font-size: 26px;
  }

  .intro {
    height: 175px;
    width: 400px;
    margin: 10px 0 10px 20px;
  }
  .flex-container h2 {
    font-size: 26px;
  }

  .flex-container p {
    font-size: 15px;
    word-spacing: 3px;
  }

  #firstproject-link {
    height: 250px;
    width: 500px;
  }

  #coming-soon1 h3,
  #coming-soon2 h3,
  #horiseon-link {
    height: 125px;
    width: 125px;
    font-size: 12px;
  }
  #contact-me h3 {
    font-size: 26px;
  }
}

/* iPhone 6-7-8 */
@media screen and (max-width:375px) {
  header {
    height: 80px;
  }
  header h1 {
    font-size: 12px;
    margin-top: 40px;
  }
  header nav ul {
    margin-top: 50px;
    width: 200px;
  }
  
  header nav ul li {
    font-size: 12px;
    padding: 5px;
  }
  .welcome h2 {
    font-size: 18px;
  }

  .welcome-1 h2 {
    font-size: 18px;
  }

  .intro {
    height: 130px;
  }
  .flex-container h2 {
    font-size: 22px;
  }

  .flex-container p {
    font-size: 12px;
  }

  #firstproject-link {
    height: 150px;
    width: 300px;
    font-size: 16px;
  }

  #coming-soon1 h3,
  #coming-soon2 h3,
  #horiseon-link {
    height: 75px;
    width: 75px;
    font-size: 10px;
  }
  #contact-me h3 {
    font-size: 26px;
  }
}

/* end media queries */
